@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Cinzel+Decorative:wght@400;700;900&family=Fugaz+One&family=Merienda:wght@300..900&display=swap');
/* :root {
	--primary-color: #3b371f;
	--secondary-color: #f2dfb9e8;
	--tt-font-family: 'Merienda', cursive;
	--text-font-family: 'Arapey', serif;
	--bag-color: #f4f1e9;
	--butt-color: #c49e5d;
	--header-color: #613b1ef5;
} */

/* :root {
	--primary-color: #bfdcf1e4;
	--secondary-color: #cfebfa;
	--tt-font-family: 'Merienda', cursive;
	--text-font-family: 'Arapey', serif;
	--bag-color: #053242;
	--butt-color: #043448;
	--header-color: #012136;
} */
:root {
	--primary-color: #d3ecf4;
	--secondary-color: #b8e1f5;
	--tt-font-family: 'Merienda', cursive;
	--text-font-family: 'Arapey', serif;
	--bag-color: #0a2f3d;
	--butt-color: #1b5c78;
	--header-color: #042a3a;
	--accent-color: #4a9fbd;
	--text-dark: #011f2e;
}
/* :root {
	--primary-color: #e3f2fd;
	--secondary-color: #90caf9;
	--tt-font-family: 'Merienda', cursive;
	--text-font-family: 'Arapey', serif;
	--bag-color: #0d47a1;
	--butt-color: #1976d2;
	--header-color: #1565c0;
	--accent-color: #42a5f5;
	--text-dark: #0a2540;
} */
/* :root {
	--primary-color: #f0f9ff;
	--secondary-color: #35ade1;
	--tt-font-family: 'Merienda', cursive;
	--text-font-family: 'Arapey', serif;
	--bag-color: #0c4a6e;
	--butt-color: #0ea5e9;
	--header-color: #075985;
	--accent-color: #61a4c3;
	--text-dark: #082f49;
} */
html,
body {
	margin: 0;
	padding: 0;

	background-color: var(--bag-color);
	color: var(--primary-color);
	scroll-behavior: smooth;
}
.header {
	background-color: var(--header-color);
	padding: 20px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__content {
	display: flex;
	align-items: center;

	position: relative;
}
.logo {
	display: block;
	max-width: 40px;
	background-image: linear-gradient(to top, #7ac0e9, #ceecf2);
	height: auto;
	border-radius: 50%;
	transform: rotateY(40deg), skewX(20deg);
	box-shadow: inset 0 20 10px rgba(1, 15, 69, 0.893);
}
.header_title {
	color: var(--secondary-color);
	font-family: var(--tt-font-family);
	margin: 0;

	font-size: clamp(1.5rem, 4vw, 3rem);
	text-shadow: 0 4px 6px rgba(0, 0, 0, 0.45),
		0 8px 3px rgba(141, 138, 138, 0.545);
}
.header_title span {
	position: relative;
	background-image: url('/logo.png'),
		linear-gradient(to top, #deeefd, #85e3f6);
	background-size: cover;
	background-position: center;
	width: clamp(20px, 3vw, 50px);
	height: clamp(20px, 3vw, 50px);
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	margin: 0 5px;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.header_title span::after {
	content: '';
	position: absolute;
	top: -10px;
	left: 8px;
	width: (10px, 2vw, 20px);
	height: (10px, 2vw, 20px);
	border-radius: 50%;
	background-color: #ceecf2;
	pointer-events: none;
}
.header_title span::before {
	content: '';
	position: absolute;
	top: (-10px, -2vw, -20px);
	left: (-8px, -2vw, -20px);
	width: (10px, 2vw, 20px);
	height: (10px, 2vw, 20px);
	border-radius: 50%;
	background-color: #ceecf2;
	pointer-events: none;
	z-index: 1;
}

.opning__hours h3 {
	color: rgba(203, 217, 238, 0.927);
	text-shadow: 1px 1px 0px rgba(201, 209, 219, 0.876);
	font-family: var(--text-font-family);
	margin-top: 5px;
	font-size: clamp(0.8rem, 2vw, 1.2rem);
	font-weight: bold;
	cursor: pointer;
}
.open__time {
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--header-color);
	overflow: hidden;
	width: clamp(200px, 30%, 260px);
	height: 0;
	transition: height 0.7s ease;
	text-align: center;
	/* padding: 2rem 0; */
	border-bottom-left-radius: 10px;
}

.open__time p {
	color: var(--secondary-color);
	font-family: var(--text-font-family);
	padding: 10px;
	margin: 0;
	font-size: larger;
}
.container {
	position: relative;
	width: clamp(300px, 100%, 1265px);
	margin: 0 auto;
}
.hero__section {
	padding: 40px;
	height: clamp(400px, 40vh, 800px);

	text-align: center;
	background-image: url('../public/profile.png');
	background-size: cover;
	background-position: center;
	color: var(--bag-color);
	background-blend-mode: darken;

	transition: all 0.5s linear;
}
.content {
	background-color: rgba(0, 0, 0, 0.5);
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	font-size: clamp(1rem, 2vw, 1.5rem);

	position: absolute;
	top: clamp(1.9%, 100%, 0%);
	left: clamp(30%, 100%, 0%);
	transform: translate(-20%, -20%);
}
.hero__title {
	font-size: 1.6em;
	margin-bottom: 10px;
	color: var(--primary-color);
	font-family: var(--tt-font-family);
}
.hero__description {
	font-size: 1.2em;
	color: var(--secondary-color);
	font-family: var(--text-font-family);
}
.buttons {
	display: flex;
	justify-content: center;
}
.ordering__button {
	margin-top: 20px;
	padding: 8px 16px;
	font-size: 1em;
	color: var(--secondary-color);
	background-color: var(--butt-color);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
	transition: background-color 0.3s ease;
}
.size-6 {
	width: 1.5em;
	height: 1.5em;
}
.ordering__button:hover {
	background-color: var(--primary-color);
}

/* Navigation style surce */
.navigation {
	background-color: var(--secondary-color);
	padding: 4rem 0;

	border-bottom: 3px solid var(--header-color);
}
.list__link {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
}
.nav__link a {
	position: relative;
	text-decoration: none;
	color: var(--bag-color);
	font-weight: bold;
	font-family: var(--text-font-family);
	padding: clamp(6px, 0.8vw, 8px) clamp(12px, 2vw, 16px);
	border: 2px solid var(--bag-color);
	transition: all 0.5s linear;
	z-index: 1;
	font-size: clamp(0.6rem, 2vw, 1.4rem);
}
.nav__link a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: var(--header-color);
	width: 0;
	transition: all 0.3s ease;
	z-index: -1;
}

.nav__link a:hover::before {
	width: 100%;
	color: var(--secondary-color);
}

.nav__link a:hover {
	color: var(--secondary-color);
	background-color: transparent;
}

/* Product section source */
.product__section {
	padding: 8rem 0;
	background-color: var(--secondary-color);
	border-radius: 5px;
}
.product {
	color: var(--bag-color);
	font-family: var(--text-font-family);
	background-image: url('../public/drom.png'),
		linear-gradient(
			to right,
			rgba(194, 221, 240, 0.942) 50%,
			rgba(255, 255, 255, 0.087)
		);
	background-size: cover;
	background-position: center;
	padding: 20px;
	background-blend-mode: lighten;
}
.product p {
	font-weight: 400;
}

/* ///////////////////////////////// */
.service__options {
	margin: 2rem 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));

	text-align: center;
	color: var(--bag-color);
}
.item {
	display: flex;

	text-align: center;

	gap: 8px;
	font-family: var(--text-font-family);
	margin-top: 10px;
	font-size: clamp(1rem, 2vw, 1.2rem);
	border: 1px solid rgba(67, 46, 9, 0.26);
	padding: 4px;
	border-radius: 5px;
}
.service__content,
.crowd__section,
.popular__times {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.item svg {
	color: green;
}
.item .not-delivering {
	color: red;
}

/* Menu section source */
.menu__section {
	padding: 6rem 0;
	text-align: center;
}
.menu__section h2 {
	font-family: var(--tt-font-family);
	font-size: clamp(1.5rem, 4vw, 3rem);
	margin-bottom: 4rem;
}
.cards {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	gap: 2rem;
	margin: 3rem auto;
	width: clamp(300px, 90%, 1000px);
	padding: 1rem;
}

.cards:nth-child(odd) {
	flex-direction: row-reverse;
}

/* IMAGE */
.cards img {
	width: clamp(300px, 100%, 600px);
	height: auto;
	border-radius: 12px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
	transition: transform 0.3s ease;
	object-fit: cover;
}
/* 
.cards img:hover {
	transform: scale(1.05);
} */

/* TABLE */
table {
	border-collapse: collapse;
	width: 100%;
	max-width: 500px;
	font-family: var(--text-font-family);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow: hidden;
}

th,
td {
	border: 1px solid #01315415;
	padding: 12px;
	text-align: left;
	font-size: 1.1rem;
}

th {
	background-color: var(--header-color);
	color: var(--secondary-color);
	font-weight: 600;
}

tr:nth-child(even) {
	background-color: #012134d0;
}

tr:hover {
	background-color: #042a53d2;
}

/* MOBILE FIX */
@media screen and (max-width: 768px) {
	.cards {
		flex-direction: column;
		align-items: center;
		text-align: center;
		max-width: 95%;
	}

	.cards:nth-child(odd) {
		flex-direction: column;
	}

	.cards img {
		width: 100%;
		max-width: 354px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	table {
		width: 100%;
		max-width: 100%;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.drinks__section {
	margin-top: 6rem;
	text-align: center;
	background-image: url('../public/drink.png'),
		linear-gradient(
			to right bottom,
			rgba(10, 47, 61, 0.944) 50%,
			rgba(136, 200, 243, 0.446)
		);
	background-size: cover;
	background-position: center;
	padding: 60px 0;
	color: var(--secondary-color);
	background-blend-mode: darken;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.drinks__section h2 {
	color: var(--bag-color / 0.9);
	font-family: var(--tt-font-family);
	font-size: clamp(1.5rem, 4vw, 3rem);
	margin-bottom: 2rem;
}
.drinks__section table {
	width: clamp(300px, 80%, 600px);
	background-color: var(--bag-color);
}
.drinks__section th {
	background-color: var(--butt-color);
	color: var(--secondary-color);
}
.drinks__section td {
	color: var(--text-dark);
	background-color: var(--secondary-color);
}
/*  */
.about {
	padding: 4rem 0;
	text-align: center;
	background-color: var(--secondary-color);
}
.about h2 {
	font-family: var(--tt-font-family);
	font-size: clamp(1.5rem, 4vw, 3rem);
	margin-bottom: 3rem;
	color: var(--text-dark);
}
.about p {
	font-family: var(--text-font-family);
	font-size: clamp(1rem, 2vw, 1.2rem);
	max-width: 800px;
	margin: 0 auto;
	line-height: 1.6;
	color: var(--bag-color);
}

/* Contact section source */
.contact {
	padding: 4rem 0;
	text-align: center;
	background-color: var(--header-color);
}
.contact h3 {
	font-family: var(--tt-font-family);
	font-size: clamp(1.5rem, 4vw, 3rem);
	margin-bottom: 3rem;
	color: var(--primary-color);
}
.contact__info {
	display: flex;
	justify-content: center;
}
form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: clamp(60%, 300px, 400px);
}
input,
textarea {
	padding: 10px;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-family: var(--text-font-family);
}
.btn {
	margin-top: 10px;
	padding: clamp(8px, 1vw, 12px) clamp(16px, 2vw, 24px);
	font-size: 1rem;
	color: var(--secondary-color);
	background-color: var(--butt-color);
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
.btn:hover {
	background-color: var(--primary-color);
}
.btn {
	background-color: rgb(209, 11, 11);
	cursor: not-allowed;
}
.overlay {
	/* Overlay content can go here */
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.887);
	z-index: 1000;
}
.overlay__close {
	position: absolute;
	top: 20px;
	right: 30px;
	font-size: 4rem;
	color: var(--secondary-color);
	cursor: pointer;
}
.overlay__content {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--secondary-color);
	font-family: var(--text-font-family);
	text-align: center;
}
.active__contact {
	display: block;
	background-color: #100f06;
	padding: 40px 0;
}
.active__contact h3 {
	font-family: var(--tt-font-family);
	font-size: clamp(1.5rem, 4vw, 3rem);
	margin-bottom: 2rem;
	color: var(--secondary-color);
}
.active__contact a {
	color: var(--secondary-color);
	font-size: clamp(1.4rem, 2vw, 1.5rem);
	text-decoration: none;
	margin-top: 1rem;
}

.overlay__form {
	display: block;
	flex-direction: column;
	gap: 10px;
	width: clamp(60%, 300px, 400px);
}

.footer {
	background-color: var(--bag-color);
	color: var(--primary-color);
	font-family: var(--text-font-family);
	padding: 2rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}
.footer p {
	margin: 0;
	font-size: clamp(0.8rem, 2vw, 1rem);
}
.footer a {
	color: var(--primary-color);
	text-decoration: none;
	font-weight: bold;
}
.footer .location {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}
.location h3 {
	margin-bottom: 5px;
}
.location p {
	margin-top: 5px;
}

.footer .info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}
.info h3 {
	margin-bottom: 5px;
}
.info p {
	margin-top: 5px;
}

@media screen and (max-width: 768px) {
	.footer {
		flex-direction: column;
		flex-direction: column-reverse;
		gap: 1.5rem;
	}
}
